body {
	background-color: #000000;
}

#container {
	max-width: 960px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

svg {
	border: solid #BBBBBB 2px;
   border-radius: 20px;
   /*//text-align: center;
   display: block;*/
/*   /margin: auto;
*/
}

h1 {
	color: #BBBBBB;
	text-align: center;
}

#buttonbar {
   display: flex;
   justify-content: space-between;
}

.decadeButton{

   display: table-cell;
   padding: 16px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   margin: 4px 2px;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   cursor: pointer;
   background-color: white;
   color: black;
   border: 2px solid #555555;
   border-radius: 12px;

}

.decadeButton:hover {
   background-color: #555555;
   color: white;
}

.artistCircle {
	stroke: black;
	stroke-width: 2px;
}

.artistCircle:hover {
	stroke: white;
	stroke-width: 4px;
}

select {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   display: block;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}